body{
    background-color: #ffeee7;
    color:#de5d83;
}

form{
    color: #30ba8f;
    font-weight: bold;
}

.delete-button{
    background-color: #9ab973;
    color:#ffeee7;
    border-color: #30ba8f;
}

.enter-button{
    background-color: #da9c81;
    color:#ffeee7;
}