body{
    background-color: #ffeee7;
    color:#de5d83;
    text-align: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

form{
    color: #30ba8f;
    font-weight: bold;
    padding: 2%;
    display: block;
    width: 100%;
}

.card{
    margin: 2.5%;
    padding: 2% 6%;
    border-radius: 4%;
    box-shadow: 5px 3px #daaf9d;
    background-color: #edc9af;
    align-items: center;
    text-align: center;
    display: grid;

}

.delete-button{
    background-color: #9ab973;
    color:#ffeee7;
    border-color: #30ba8f;
    position: relative;
    border-radius: 24%;
    padding: 1%;
}

.enter-button{
    background-color: #da9c81;
    color:#ffeee7;
    border-color: #da9c81;
    position: relative;
}